<div class="square">

  <app-ball *ngIf="sessionService.sessionRunning == true" [positionX]="sessionService.ball.positionX" [positionY]="sessionService.ball.positionY" [size]="sessionService.ball.size"></app-ball>

  <app-my-paddle *ngIf="sessionService.myPlayer"
                 [position]="sessionService.myPlayer.paddlePosition"
                 [size]="sessionService.myPlayer.paddleSize"></app-my-paddle>

  <app-left-paddle *ngIf="sessionService.leftPlayer"
                   [position]="sessionService.leftPlayer.paddlePosition"
                   [size]="0.15"></app-left-paddle>

  <app-right-paddle *ngIf="sessionService.rightPlayer"
                    [position]="sessionService.rightPlayer.paddlePosition"
                    [size]="0.15"></app-right-paddle>

  <app-top-paddle *ngIf="sessionService.topPlayer"
                  [position]="sessionService.topPlayer.paddlePosition"
                  [size]="0.15"></app-top-paddle>

  <app-pre-game *ngIf="sessionService.sessionRunning == false"
                [numberOfPlayers]="sessionService.numberOfPlayers"> </app-pre-game>

</div>

<p>You are player {{sessionService.myIndex + 1}}</p>
