.square {
  margin-left: auto;
  margin-right: auto;
  width: 80vmin;
  height: 80vmin;
  position: relative;

  background-image: linear-gradient(to bottom, #051937, #00153a, #00113d, #010b3e, #07023f);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
