/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #a0c3f8, #89b7f5, #6facf2, #4fa1ee, #1296eb);
}
