.text  {
  position: absolute;
  top: 20%;
  width:100%;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 9vmin;
  color: red;
}

h2 {
  text-align: center;
  font-size: 5vmin;
  color: red;
}

.button  {
  display:flex;
  width:100%;
  justify-content: center;
}

button {
  position: absolute;
  bottom: 10%;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 3vmin;
}
